/*section header*/
.logo {
    padding: 18px 22px 18px 16px;
    margin-left: 24px;
}
.logo a {
    padding: 0;
}
.logo img {
    display: inline-block;
    width: 30px;
}
.logo .brand-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.15rem;
}
.form {
    display: inline-block;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 13px;
}
.row{
    margin: 0;
}
.row .submit-form {
    display: inline-block;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 13px;
}
.user .form {
    border-radius: 50%;
}